body {
	font-family: 'Roboto', sans-serif;
}

/* Main page */

.top-bar {
	margin-top: 30px;
}

.container .logo {
	height: 80px;
	margin: 30px;
	float: left;
}

h1 {
	margin-top: 60px;
	text-align: center;
}

h3 {
	text-align: center;
}

.container a {
	font-family: 'Homemade Apple', cursive;
	font-size: 28px; 
	color: black;
	text-decoration: none;
}

.container a:hover {
	font-family: 'Homemade Apple', cursive;
	font-size: 28px; 
	color: brown;
	text-decoration: none;
}

.cup {
	height: 500px;
	margin: 40px;
	clear: both;
}

.about {
	margin-top: 100px;
	margin-left: 30px;
}

.skills {
	margin-top: 120px;
	margin-left: 700px;
}






